/* Layout */

.site-header {
  padding: 1em 0;
}

.site-title {
  float: left;
}

.site-nav {
  float: right;
  a {
    padding-left: 1em;
  }
}

.site-footer {
  text-align: center;
  margin-top: 2em;
}

.wrap {
  width: 96%;
  margin: 0 auto;
  @extend %clearfix;
  
  @include breakpoint(medium) {
    max-width: 80%;
  }

  @include breakpoint(large) {
    max-width: 70%;
  }
}

.row {
  @extend %clearfix;
}

@include breakpoint(medium) {

  .onethird,
  .onehalf,
  .twothirds {
    float: left;
    margin-right: 5%;
  }

  .onethird {
    width: 30%;
  }

  .onehalf {
    width: 47.5%
  }

  .twothirds {
    width: 65%;
  }

  .last {
    margin-right: 0;
  }
}

.schedule .onehalf,
.home .onehalf {
  border-top: 3px solid $color-blue;
  position: relative;
  margin-bottom: 4em;
  @include breakpoint(medium) {
    width: calc(50% - 2em);
    margin: 1em;
  }
}

.schedule h5 {
  position: absolute;
  top: -1em;
  left: 50%;
  @extend .small;
  margin: 0 0 0 -4em;
  text-align: center;
  width: 8em;
  background: $color-blue;
  color: #fff;
  padding: .25em .5em;
  border-radius: 1em;
}

@include breakpoint(medium) {

  .schedule .onehalf:nth-of-type(odd),
  .home .onehalf:nth-of-type(odd) {
    clear: both;
  }

  .schedule .onehalf:nth-of-type(odd):after,
  .home .onehalf:nth-of-type(odd):after {
    content: '';
    border-right: 1px solid $color-border;
    position: absolute;
    top: 1em;
    right: -1em;
    height: 100%;
  }

}

.schedule h2 {
  margin-top: 1em;
}

.home .onehalf {
  text-align: center;
  min-height: 50vh;
}